/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Cabin', Helvetica, sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
:focus:not(:focus-visible) {
	outline: none;
}

/* ========================================================
   Media queries for small devices (640px and down) 
   ======================================================== */
	/* ===== Header and Nav ===== */
	html {
		scroll-padding-top: 4.25rem;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 70px;
		width: 100%;
		background-color: #232b2b;
		border-bottom: 2px solid #eac92b;
		z-index: 1;
	}

	.nav {
		display: none;
	}

	.logo {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		height: 60px;
		margin: auto;
	}

	/* ===== Address ===== */
	.address-bar {
		width: auto;
		margin-top: 4.375rem;
		background: #eac92b;
		text-align: center;
	}

	.address-top {
		font-weight: 400;
		font-size: 0.75rem;
		letter-spacing: 0.063rem;
		padding: 0.5rem;
	}

	.address-top a {
		text-decoration: none;
		color: #232b2b;
	}

	.hero-image {
	    background-image: url("../img/main-image-sm.jpg");
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    background-repeat: no-repeat;
		background-position: top center;
		height: 100vh;
	}
	
	.hours-bar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0.5rem 0;
		background: #eac92b;
	}

	.hours {
		font-size: 0.9rem;
		font-weight: 400;
		line-height: 1.125rem;
		letter-spacing: 1px;
		color: #232b2b;
	}

	.phone-btn {
		width: 7.5rem;
		background-color: #232b2b;
		border-radius: 5rem;
		margin-top: 0.5rem;
		padding: 0.25rem 0;
	}

	.phone a {
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 1px;
		text-decoration: none;
		color: #fff;
	}

	/* ===== Events carousel ===== */
	.carrousel {
		background: #232b2b;
		text-align: center;
		padding: 4em 0;
		height: 13.25em;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	.carrousel h1 {
		font-size: 34px;
		font-weight: 400;
		text-transform: uppercase;
		margin: -45px 40px 18px 40px;
		padding-bottom: 16px;
		color: #fff;
		border-bottom: 1px solid #eac92b;
	}

	.carrousel h2 {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		text-align: center;
		color: #fff;
	}

	.carrousel .slides {
		width: 400%;
		left: 0;
		padding-left: 0;
		list-style: none;
		position: relative;
		-webkit-transition: transform .5s;
		-moz-transition: transform .5s;
		-o-transition: transform .5s;
		transition: transform .5s;
	}

	.carrousel .slides li {
		width: 25%;
		position: relative;
		float: left;
	}

	.carrousel li p {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		color: #fff;
		margin: 15px auto;
		text-align: center;
		width: 280px;
	}

	.carrousel .date {
		color: #eac92b;
	}

	.carrousel .slidesNavigation {
		display: block;
		list-style: none;
		text-align: center;
		bottom: 1.5em;
		/*--- Centering trick---*/
		/* Absolute positioning*/
		position: absolute; 
		/* Abosulte positioning*/
		width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
		left: 50%; /*Centering de element*/
		margin-left: -52px; /*adjusting the centering by applying a negative margin of half of the width*/
	}

	.carrousel input {
		display: none;
	}

	.carrousel .slidesNavigation label {
		float: left;
		margin: 6px;
		display: block;
		height: 10px;
		width: 10px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: solid 2px #eac92b;
		font-size: 0;
	}

	/* You have to repeat this with each slide
	TODO: make it easier with SCSS
	25% movement 100/slides-num
	*/
	#radio-1:checked ~ .slides {
		transform: translateX(0%);
	}

	#radio-2:checked ~ .slides {
		transform: translateX(-25%);
	}

	#radio-3:checked ~ .slides {
		transform: translateX(-50%);
	}

	#radio-4:checked ~ .slides {
		transform: translateX(-75%);
	}

	.carrousel .slidesNavigation label:hover {
		cursor: pointer;
	}
	/* You have to repeat this with each slide/dot */
	.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
	.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
	.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
	.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
		background: #eac92b;
	}

	/* ===== Food menu ===== */
	.menu-container {
		background: #232b2b;
	}

	/* ===== Section headers ===== */
	.section-head {
		font-size: 1.25rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding: 6px 40px 6px 40px;
		background: #eac92b;
		color: #232b2b;
		position: sticky;
		top: 72px;
	}

	.section-subhead {
		font-size: 0.5;
		font-weight: 700;
		text-transform: uppercase;
		color: #eac92b;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 1rem;
	}

	.menu-item-container {
		display: flex;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 1rem;
		line-height: 0.6rem;
	}

	.item-text {
		flex-grow: 1;
	}

	.item {
		font-weight: 400;
		color: #fff;
	}

	.item-descript {
		font-size: 0.85rem;
		font-style: italic;
		color: #fff;
	}

	.price {
		font-weight: 400;
		color: #fff;
	}

	/* ===== Beer List ===== */
	.drink-head {
		font-size: 0.85rem;
		color: #fff;
		background-color: #6b7b8c;
		display: flex;
		justify-content: space-between;
		padding: 0.55rem 1rem;
	}

	.drink-item-container {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 1rem;
		line-height: 0.6rem;
	}

	.item, .item-descript, .price, .drink {
		font-size: 0.8rem;
		color: #fff;
	}

	.name {
		width: 12rem;
	}

	.abv.drink {
		text-align: right;
	}

	/* ===== Gallery ===== */
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 1.5px 3px;
	}

	.grid div img {
		width: 100%;
	}

	/* ===== About / Our story ===== */
	.story-container {
	 	width: auto;
	 	background-color: #232b2b;
	}

	.story-head {
		font-size: 34px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 40px 10px 40px;
		background: #eac92b;
		color: #232b2b;
		position: sticky;
		top: 72px;
	}

	.story-text {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		text-align: left;
		margin: auto;
		padding: 20px 0;
		width: 80%;
		max-width: 640px;
		color: #fff;
	}

	/* ===== Reservation form ===== */
	.reserve-form {
		display: flex;
		flex-direction: column;
		align-content: center;
		background: #6b7b8c;
		text-align: center;
		padding: 20px;
	}

	input, select, textarea {
		display: block;
		font-size: 0.8rem;
		font-family: sans-serif;
		font-weight: 400;
		color: #6b7b8c;
		line-height: 1.3;
		padding: .4em 1.4em .3em .8em;
		width: 80%;
		box-sizing: border-box;
		margin: 0.5rem auto;
		border: none;
		border-radius: .3em;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #6b7b8c;
		opacity: 1; /* Firefox */
	}

	select {
		background-image:
			linear-gradient(45deg, transparent 50%, #eac92b 50%),
			linear-gradient(135deg, #eac92b 50%, transparent 50%);
		background-position:
			calc(100% - 20px) calc(0.75em + 1px),
			calc(100% - 15px) calc(0.75em + 1px),
			100% 0;
		background-size:
			5px 5px,
			5px 5px,
			2.5em 2.5em;
		background-repeat: no-repeat;
	}

	.form-guest option {
		color: #6b7b8c;
	}

	.form-submit {
		font-weight: 700;
		text-transform: uppercase;
		background: #eac92b;
		color: #232b2b;
		border: none;
		border-radius: 0.8rem;
		margin-top: 0.75rem;
		padding: 0.35rem 1rem;
		cursor: pointer;
	}

	/* ===== Footer ===== */
	footer {
		width: auto;
		background: #232b2b;
	}

	footer p {
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		color: #fff;
		text-align: center;
	}

	.yellow-text {
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		color: #eac92b;
		padding-top: 20px;
		text-align: center;
	}

	.social-icons {
		display: flex;
		justify-content: center;
	}

	.social-icons img {
		display: block;
	}

	.instagram, .twitter, .facebook {
		width: 1.5rem;
		margin: 8px;
	}

	.phone-btn-bottom {
		display: none;
	}

	.copyright {
		display: none;
	}

	.mobile-copyright p {
		font-size: 0.65rem;
		font-weight: 400;
		padding-bottom: 90px;
	}

	/* ===== Sticky icon footer ===== */
	.sticky-footer {
		position: fixed;
		right: 0;
		bottom: 0;
		border-top: 2px solid #eac92b;
	    background-color: #232b2b;
	    color: #eac92b;
		width: 100%;
		padding: 0.5rem 0;
	}

	.footer-btns {
		display: flex;
		justify-content: space-around;
	}

	.menu-btn, 
	.drinks-btn,
	.events-btn,
	.reserve-btn {
		width: 50px;
	}

/* ========================================================
   Media queries for medium devices - Portrait (641px to 1023) 
   ======================================================== */
@media screen and (min-width: 768px) and (max-width: 916px) {
	html {
		scroll-padding-top: 7.375rem;
	}
	/* ===== Address Bar ===== */
	.address-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 1.75rem;
		margin-top: 0;
		z-index: 4;
	}

	.address-top {
		padding: 0.5rem;
	}

	.address-top a {
		font-weight: 700;
		font-size: 1em;
	}

	.header {
		position: fixed;
		top: 1.75rem;
		height: 4.5rem;
		border-bottom: 0;
		z-index: 3;
	}

	.logo {
		height: 4rem;
		padding: 0.25rem;
	}

	/* ===== Nav Bar ===== */
	.nav {
		display: block;
		position: fixed;
		top: 6.25rem;
		left: 0;
		right: 0;
		text-align: center;
		background-color: #6b7b8c;
		box-shadow: 0 1px 8px black;
		z-index: 2;	
	}

	.nav li {
		font-size: .75em;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 1.563rem;
		padding: 0.5rem 0;
	}

	.nav li a {
		text-decoration: none;
		color: #fff;
	}

	.section-head {
		position: sticky;
		top: 136px;
	}

	.hero-image {
		background-image: url('../img/main-image-med.jpg');
		height: 100vh;
	}

	/* ===== Events carousel ===== */
	.carrousel {
		padding: 5em 0;
	}

	/* ===== Section headers ===== */
	.section-head {
		padding: 8px 40px 8px 40px;
		top: 128px;
	}

	.section-subhead {
		padding: 0.75rem 4.5rem;
	}

	.menu-item-container {
		padding: 0.75rem 4.5rem;
	}

	/* ===== Beer List ===== */
	.drink-head {
		font-size: 0.85rem;
		color: #fff;
		background-color: #6b7b8c;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 4.5rem;
	}

	.drink-item-container {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 4.5rem;
		line-height: 0.6rem;
	}

	.item, .item-descript, .price, .drink {
		font-size: 0.9rem;
	}

	.name {
		width: 12rem;
	}

	.abv.drink {
		text-align: right;
	}
	
	/* ===== Gallery ===== */
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
		gap: 1.5px 3px;
	}

	/* ===== About / Our story ===== */
	.story-container {
		width: auto;
		text-align: left;
	}

	.story-text {
		font-size: 1rem;
		line-height: 1.75rem;
		padding: 0.75rem 4.5rem;
	}

	p.top-para {
		padding-top: 3rem;
	}

	p.bottom-para {
		padding-bottom: 3rem;
	}

	/* ===== Reservations ===== */
	.reserve-form {
		padding: 1.75rem;
	}

	input, select, textarea {
		font-size: 1rem;
		line-height: 1.3;
		padding: .4em 1.4em .3em .8em;
		width: 50%;
		margin: 1rem auto;
	}

	.form-submit {
		font-size: 1rem;
		font-weight: 700;
		border-radius: 3rem;
		padding: 0.5rem 1.5rem;
	}

	/* ===== Footer and Social Media ===== */
	footer {
		padding: 1rem;
	}

	.foot-info, .sticky-footer, .mobile-copyright {
		display: none;
	}

	.social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.social-icons {
		padding: 0;
	}

	.instagram, .twitter, .facebook {
		width: 2rem;
		margin: 0 1rem 0 0;
	}

	.copyright {
		display: block;
	}

	.phone-btn-bottom {
		font-size: 1rem;
		font-weight: 700;
		display: block;
		background-color: #eac92b;
		border-radius: 1rem;
		padding: 0.5rem 1.125rem;
		width: 7rem;
	}

	.phone-btn-bottom a {
		text-decoration: none;
		color: #232b2b;
	}
}

/* ========================================================
   Media queries for medium devices - Landscape (901 to 1220) 
   ======================================================== */
@media screen and (min-width: 917px) and (max-width: 1220px) {
	html {
		scroll-padding-top: 6.25rem;
	}
	/* ===== Address Bar ===== */
	.address-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 1.75rem;
		margin-top: 0;
		z-index: 4;
	}

	.address-top {
		padding: 0.5rem;
	}

	.address-top a {
		font-weight: 700;
		font-size: 1em;
	}

	.header {
		position: fixed;
		top: 1.75rem;
		height: 4.5rem;
		border-bottom: 2px solid #eac92b;
		z-index: 3;
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0.75rem;
		right: 100%;
		height: 4rem;
		padding: 0.25rem;
	}

	/* ===== Nav Bar ===== */
	.nav {
		display: block;
		position: fixed;
		top: 3.25rem;;
		left: 0;
		right: 0;
		text-align: right;
		z-index: 5;	
	}

	.nav li {
		font-size: .75em;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 1.5rem;
		padding: 0.5rem 0;
	}

	.nav li a {
		text-decoration: none;
		color: #fff;
	}

	.section-head {
		position: sticky;
		top: 136px;
	}

	.hero-image {
		background-image: url('../img/main-image-med.jpg');
		height: 100vh;
	}

	/* ===== Events carousel ===== */
	.carrousel {
		padding: 5em 0;
	}

	/* ===== Section headers ===== */
	.section-head {
		position: sticky;
		top: 100px;
		padding: 8px 40px 8px 40px;
	}

	.section-subhead {
		padding: 0.75rem 10rem;
	}

	.menu-item-container {
		padding: 0.75rem 10rem;
	}

	/* ===== Beer List ===== */
	.drink-head {
		font-size: 0.9rem;
		color: #fff;
		background-color: #6b7b8c;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 10rem;
	}

	.drink-item-container {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 10rem;
		line-height: 0.6rem;
	}

	.item, .item-descript, .price, .drink {
		font-size: 0.9rem;
	}

	.name {
		width: 12rem;
	}

	.abv.drink {
		text-align: right;
	}
	
	/* ===== Gallery ===== */
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
		gap: 1.5px 3px;
	}

	/* ===== About / Our story ===== */
	.story-container {
		width: auto;
		text-align: left;
	}

	.story-text {
		font-size: 1rem;
		line-height: 1.75rem;
		padding: 0.75rem 4.5rem;
	}

	p.top-para {
		padding-top: 3rem;
	}

	p.bottom-para {
		padding-bottom: 3rem;
	}

	/* ===== Reservations ===== */
	.reserve-form {
		padding: 1.75rem;
	}

	input, select, textarea {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: .4em 1.4em .3em .8em;
		width: 40%;
		margin: 1rem auto;
	}

	.form-submit {
		font-size: 1rem;
		font-weight: 700;
		border-radius: 3rem;
		padding: 0.5rem 1.5rem;
	}

	/* ===== Footer and Social Media ===== */
	footer {
		padding: 1rem;
	}

	.foot-info, .sticky-footer, .mobile-copyright {
		display: none;
	}

	.social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.social-icons {
		padding: 0;
	}

	.instagram, .twitter, .facebook {
		width: 2rem;
		margin: 0 1rem 0 0;
	}

	.copyright {
		display: block;
	}

	.phone-btn-bottom {
		font-size: 1rem;
		font-weight: 700;
		display: block;
		background-color: #eac92b;
		border-radius: 1rem;
		padding: 0.5rem 1.125rem;
		width: 7rem;
	}

	.phone-btn-bottom a {
		text-decoration: none;
		color: #232b2b;
	}
}

/* ========================================================
   Media queries for Desktops (1221 and up) 
   ======================================================== */
@media screen and (min-width: 1221px) {
	html {
		scroll-padding-top: 6.25rem;
	}
	/* ===== Address Bar ===== */
	.address-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 2.25rem;
		margin-top: 0;
		z-index: 4;
	}

	.address-top {
		padding: 0.75rem;
		text-decoration: uppercase;
	}

	.address-top a {
		font-weight: 700;
		font-size: 0.9rem;
	}

	.header {
		position: fixed;
		top: 2.25rem;
		height: 4.7rem;
		border-bottom: 2px solid #eac92b;
		z-index: 3;
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0.75rem;
		right: 100%;
		height: 4.25rem;
		padding: 0.25rem;
	}

	/* ===== Nav Bar ===== */
	.nav {
		display: block;
		position: fixed;
		top: 3.8rem;;
		left: 0;
		right: 0;
		text-align: right;
		z-index: 5;	
	}

	.nav li {
		font-size: 1rem;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 1.5rem;
		padding: 0.34rem 0;
	}

	.nav li a {
		text-decoration: none;
		color: #fff;
	}

	.nav li a:hover {
		color: #eac92b;
	}

	.section-head {
		position: sticky;
		top: 136px;
	}

	.hero-image {
		background-image: url('../img/main-image-lg.jpg');
		height: 100vh;
	}

	/* ===== Hours and Phone ===== */
	.hours-bar {
		display: flex;
		flex-direction: row;
		text-align: center;
		padding: 0.5rem 0;
	}

	.hours {
		font-weight: 700;
		margin-right: 2rem;
	}

	.phone-btn {
		width: 8.5rem;
		border-radius: 5rem;
		margin-top: 0;
		margin-right: 2rem;
		padding: 0.5rem 0;
	}

	/* ===== Events carousel ===== */
	.carrousel {
		background: #232b2b;
		text-align: center;
		padding: 6rem 0;
		height: 13.25em;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	.carrousel .slides {
		width: 134%;
		left: 0;
		padding-left: 0;
		list-style: none;
		position: relative;
		-webkit-transition: transform .5s;
		-moz-transition: transform .5s;
		-o-transition: transform .5s;
		transition: transform .5s;
	}

	/* ===== Section headers ===== */
	.section-head {
		position: sticky;
		top: 110px;
		padding: 8px 40px 8px 40px;
	}

	/* ===== Menu List ===== */
	.section-subhead, .menu-item-container {
		padding: 0.75rem 20rem;
		max-width: 800px;
		margin: auto;
	}

	/* ===== Beer List ===== */
	.drink-head {
		font-size: 0.85rem;
		color: #fff;
		background-color: #6b7b8c;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 20rem;
		max-width: 800px;
		margin: auto;
	}

	.drink-item-container {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #6b7b8c;
		padding: 0.75rem 20rem;
		max-width: 800px;
		line-height: 0.6rem;
		margin: auto;
	}

	.drink {
		font-size: 0.85rem;
		color: #fff;
	}

	.name {
		width: 12rem;
	}

	.abv.drink {
		text-align: right;
	}
	
	/* ===== Gallery ===== */
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
		gap: 1.5px 3px;
	}
	
	/* .thumbnail:target {

	} */

	/* .thumbnail:hover {
		transform: scale(0.9,0.9);
		transition: 0.5s;
	}

	.gallery-lightbox {
		background-color: rgba(0,0,0,0.8);
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
		display: none;
	}

	.gallery-lightbox:target{
		display: flex;
	}

	.gallery-full {
		position: relative;
	}

	.close {
		position: absolute;
		width: 2em;
		height: 2em;
		background-color: #000;
		top: 0;
		right: 0;
		border-radius: 50%;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		top: -2em;
		right: -2em;
	}

	.close::after {
		content: "X";
		color: #eac92b;
		font-weight: 700;
	} */

	/* ===== About / Our story ===== */
	.story-container {
		width: auto;
		text-align: left;
	}

	.story-text {
		font-size: 1rem;
		line-height: 1.75rem;
		padding: 0.75rem 4.5rem;
	}

	p.top-para {
		padding-top: 3rem;
	}

	p.bottom-para {
		padding-bottom: 3rem;
	}

	/* ===== Reservations ===== */
	.reserve-form {
		padding: 1.75rem;
	}

	input, select, textarea {
		font-size: 1rem;
		line-height: 1.3;
		padding: .4em 1.4em .3em .8em;
		width: 30%;
		max-width: 400px;
		margin: 1rem auto;
	}

	.form-submit {
		font-size: 1rem;
		font-weight: 700;
		border-radius: 3rem;
		padding: 0.5rem 1.5rem;
	}

	/* ===== Footer and Social Media ===== */
	footer {
		padding: 1rem;
	}

	.foot-info, .sticky-footer, .mobile-copyright {
		display: none;
	}

	.social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.social-icons {
		padding: 0;
	}

	.instagram, .twitter, .facebook {
		width: 2rem;
		margin: 0 1rem 0 0;
	}

	.copyright {
		display: block;
	}

	.phone-btn-bottom {
		font-size: 1rem;
		font-weight: 700;
		display: block;
		background-color: #eac92b;
		border-radius: 1rem;
		padding: 0.5rem 1.125rem;
		width: 7rem;
	}

	.phone-btn-bottom a {
		text-decoration: none;
		color: #232b2b;
	}
}